@import 'styleDefine.css';

.presentacion{
    background-color: var(--second) !important;
}

.igriega-img{
    width: 100%;
    height: auto;   
}

.desc{
    padding: 12% 4%;
}

.col-img{
    padding-left: 0px;
}

@media (min-width: 992px){
    h1{
        font-size: 53px;
    }
    p{
        font-size: 25px;
        line-height: 30px;
    }
}