:root {
    /* PALETA DE COLORES */
    --first: #b5835e;
    --second: #9eacac;
    --third: #6d5d50;
    --fourth: #00190e;
    --fifth: #daa57d;
}

html, body{
    font-family: customFonts;
}

button, .btn-success{
    background-color: var(--first) !important;
}

a, .btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--first) !important;;
    --bs-btn-border-color: var(--first) !important;;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--first) !important;;
    --bs-btn-hover-border-color: var(--first) !important;;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--first) !important;;
    --bs-btn-active-border-color: var(--first) !important;;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--first) !important;;
    --bs-btn-disabled-border-color: var(--first) !important;;
}

@font-face {
    font-family: customFonts;
    src: url(font/Yaldevi-VariableFont_wght.ttf);
}
.bg-body-tertiary{
    background-color: #c9956a !important;
}

.navbar-nav, a{
    color: #FFFF !important;
}

.logotipo{
    width: auto;
    height: 3rem;
}




.wsIcon{
    padding: 8px;
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#00a80e;
    fill:#FFF;
    border-radius:50px;
    text-align:center;
    /* box-shadow: 2px 2px 3px #999; */
}